.dashboard-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.dashboard-content {
  flex: 1;
  padding: 16px;
  background: var(--bg-page);
}

.folder-tabs {
  display: flex;
  margin-bottom: 0px;
}

.folder-tab {
  padding: 10px 24px;
  margin-right: -1px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-bottom: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transition:
    background 0.2s,
    color 0.2s;
  user-select: none;
}

.folder-tab.inactive {
  background: #e0e0e0;
  color: #333;
}

.folder-tab.active {
  background: #fff;
  color: #000;
  border-color: #ccc;
  border-bottom: 1px solid #fff;
  z-index: 2;
}

.folder-content {
  border: 1px solid #ccc;
  border-radius: 0 8px 8px 8px;
  background: #fff;
  padding: 24px;
  position: relative;
  top: -1px;
  z-index: 1;
  transition: all 0.3s ease;
}

body.dark .folder-tab.inactive {
  background: #2b2b2b;
  color: #aaa;
  border-color: #444;
}
body.dark .folder-tab.active {
  background: #424d57;
  color: #fff;
  border-color: white;
  border-bottom-color: #424d57;
}
body.dark .folder-content {
  background: #424d57;
  border-color: white;
}

.loading,
.error {
  text-align: center;
  margin-top: 40px;
  color: var(--text-secondary);
}
/* === Иконка фонарика === */
.filter-icon {
  margin-left: auto;
  font-size: 18px;
  color: #aaa;
  cursor: pointer;
  padding: 4px;
  transition: color 0.2s;
  margin-top: 5px;
}

.filter-icon.on,
.filter-icon:hover {
  color: #fadb14;
  margin-top: 5px;
}

body.dark .ant-popover-inner {
  background: #424d57;
  color: #f5f5f5;
  border: 1px solid #555;
}
body.dark .ant-popover-inner .ant-popover-inner-content {
  background: #333;
  padding: 12px 16px 16px;
}
body.dark .popover-title {
  color: white;
}

/* Активный пункт */
body.dark .folder-content .ant-pagination-item-active {
  background-color: #555;
  border-color: #555;
}
body.dark .folder-content .ant-pagination-item-active a {
  color: #fff;
}

body.dark .folder-content .ant-pagination-options .ant-select-selector {
  background-color: #555;
  color: #fff;
  border-color: #444;
}

/* фон для всех элементов-чисел */
body.dark .folder-content .ant-pagination-item {
  background-color: #333;
  border-color: #444;
}

/* фон для неактивных страниц (чисел) */
body.dark .folder-content .ant-pagination-item a {
  color: #ccc;
}

/* фон и текст для активного номера */
body.dark .folder-content .ant-pagination-item-active {
  background-color: #555 !important;
  border-color: white !important;
}

/* хедер календаря (месяц/год и стрелки) */
body.dark .ant-picker-panel .ant-picker-header {
  background: #424d57;
  border-bottom: 1px solid #444;
}

body.dark .ant-picker-panel .ant-picker-cell-inner {
  color: #fff !important;
}

body.dark .ant-picker-dropdown .ant-picker-panel-container {
  background: #2b2b2b !important;
  border: 1px solid white !important;
}
body.dark .ant-picker-panel .ant-picker-header {
  background: #424d57 !important;
  border-bottom: 1px solid white !important;
}

body.dark .ant-picker-panel .ant-picker-cell {
  color: #fff !important;
}

body.dark .ant-picker-panel .ant-picker-cell-selected .ant-picker-cell-inner,
body.dark .ant-picker-panel .ant-picker-cell-in-range .ant-picker-cell-inner,
body.dark .ant-picker-panel .ant-picker-cell-range-start .ant-picker-cell-inner,
body.dark .ant-picker-panel .ant-picker-cell-range-end .ant-picker-cell-inner,
body.dark .ant-picker-panel .ant-picker-cell-range-hover .ant-picker-cell-inner,
body.dark .ant-picker-panel .ant-picker-cell-range-hover-in-range .ant-picker-cell-inner {
  color: #000 !important;
}

body.dark .light-range-picker .ant-picker-input > input {
  color: #000 !important;
}

.filter-wrapper {
  margin-left: 8px;
  position: relative;
  z-index: 11;
}

/* фильтр по колонкам */
.cols-popover .cols-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

body.dark .cols-popover .ant-checkbox-wrapper span {
  color: #fff !important;
}

.calendar-icon {
  font-size: 20px;
  color: var(--text-secondary);
  cursor: pointer;
  margin-left: 8px;
  transition: color 0.2s;
  margin-top: 7px;
}

.calendar-icon:hover,
.calendar-icon.on {
  color: var(--primary-color);
}

body.dark .calendar-icon {
  color: #aaa;
}
body.dark .calendar-icon:hover,
body.dark .calendar-icon.on {
  color: #fadb14;
}
