body.dark .time-interval-modal .ant-modal-content {
  background: #2a2a2a;
  border: 1px solid #424d57;
  color: #fff;
}
body.dark .time-interval-modal .ant-modal-header {
  background: inherit;
  border-bottom: 1px solid #424d57;
}
body.dark .time-interval-modal .ant-modal-title,
body.dark .time-interval-modal .ant-modal-close-x {
  color: #fff;
}

body.dark .time-interval-modal .ant-picker {
  background: #1e1e1e;
  border-color: #424d57;
  color: #fff;
}
body.dark .time-interval-modal .ant-picker-input > input,
body.dark .time-interval-modal .ant-picker-input > input::placeholder {
  color: #fff;
  opacity: 0.85;
}
body.dark .time-interval-modal .ant-picker-suffix {
  color: #c0c0c0;
}

body.dark .time-interval-modal .ant-btn-default {
  background: #424d57;
  border-color: #424d57;
  color: #fff;
}

body.dark .time-interval-modal .ant-btn-primary {
  background: #008fce;
  border-color: #008fce;
  color: #fff;
}

body.dark .time-interval-dropdown {
  background: #424d57 !important;
  border: 1px solid #2a2a2a !important;
  color: #fff !important;
}

body.dark .time-interval-dropdown .ant-picker-panel,
body.dark .time-interval-dropdown .ant-picker-time-panel {
  background: var(--modal-bg) !important;
  border: none !important;
  color: #fff !important;
}

body.dark .time-interval-dropdown .ant-picker-time-panel-cell-inner {
  color: #fff !important;
}

body.dark
  .time-interval-dropdown
  .ant-picker-time-panel-cell-selected
  .ant-picker-time-panel-cell-inner {
  background: #008fce !important;
  color: #fff !important;
}

body.dark .time-interval-dropdown .ant-picker-time-panel-cell-inner:hover {
  background: #2a2a2a !important;
  color: #fff !important;
}

body.dark .time-interval-dropdown .ant-btn {
  background: #2a2a2a;
  border-color: #2a2a2a;
  color: #fff;
}
body.dark .time-interval-dropdown .ant-btn-primary {
  background: #008fce;
  border-color: #008fce;
  color: #fff;
}

body.dark .time-interval-dropdown.ant-picker-dropdown {
  background: transparent !important;
  box-shadow: none !important;
}

body.dark .time-interval-dropdown .ant-picker-panel-container {
  background: #424d57 !important;
  border: 1px solid #2a2a2a !important;
  box-shadow: none !important;
}
