.worktable .ant-table-container {
  background: transparent;
}

/* шапка (фоновый цвет и текст) */
.worktable .ant-table-thead > tr > th {
  background: var(--bg-table-header) !important;
  color: var(--text-primary) !important;
}

.worktable .ant-table-tbody > tr.row-today > td {
  background: var(--bg-row-today) !important;
}

.worktable .ant-table-cell {
  color: var(--text-primary);
}

.ant-btn-primary {
  background-color: var(--btn-primary-bg);
  border-color: var(--btn-primary-bg);
  color: var(--btn-primary-color);
}

/* тёмная тема: заголовок */
body.dark .worktable .ant-table-thead > tr > th {
  background-color: #3a3f47 !important;
  color: #fff !important;
  border-bottom: 1px solid #2b2f37 !important;
}

body.dark .worktable:not(.archive) .ant-table-body tr:not(.row-today) > td {
  background-color: #2b2f37 !important;
  color: #f5f5f5 !important;
}

body.dark .worktable.archive .ant-table-thead > tr > th {
  background-color: #3a3f47 !important;
  color: #fff !important;
}

body.dark .worktable.archive .ant-table-body tr > td {
  background-color: #2b2f37 !important;
  color: #f5f5f5 !important;
}

.worktable .ant-table-container {
  background: transparent;
}

.worktable .ant-table-thead > tr > th {
  background: var(--bg-table-header) !important;
  color: var(--text-primary) !important;
}

.ant-pagination-options-quick-jumper {
  display: none !important;
}

.ant-pagination-options-size-changer .anticon-search {
  display: none !important;
}

.ant-pagination-options-size-changer .ant-select-selector .ant-select-selection-search-input {
  display: none !important;
  pointer-events: none !important;
}

.ant-pagination-options-size-changer .ant-select-selector {
  user-select: none;
}
